html,
body {
	background-color: #aabde3;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23004bdd' fill-opacity='0.43'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.fa-microphone {
	animation-name: pulse_animation;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
}

@keyframes pulse_animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
		color: red;
	}
	100% {
		transform: scale(1);
	}
}

.card {
	border: none;
	-webkit-box-shadow: 0px 0px 60px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 60px -21px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 60px -21px rgba(0,0,0,0.75);
	transition: box-shadow 0.3s ease;
}

.card:hover {
	-webkit-box-shadow: 0px 0px 109px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 109px -21px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 109px -21px rgba(0,0,0,0.75);
}

.card-block {
	padding: 1em;
}

.speech-bubble {
	position: relative;
	background: #aabde3;
	border-radius: .4em;
	padding: .7em;
	min-height: 50px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 45%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #aabde3;
	border-left: 0;
	border-top: 0;
	margin-top: 0;
	margin-left: -15px;
}

.input-reset {
	display: none;
}